html,
body {
  font-family: Verdana;
  background-color: #eee;
}
html.preload *,
body.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.btn {
  min-width: 80px;
  padding: 2px 3px;
  font-size: 13px;
  outline: 0;
  line-height: 20px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-default {
  color: #616161;
  background-color: #FFF;
  border-color: rgba(0, 0, 0, 0.13);
}
.btn-default.btn-outline {
  color: #616161;
  background-color: transparent;
  border-color: #616161;
}
.btn-primary {
  color: #FFF;
  background-color: #09c;
  border-color: rgba(0, 0, 0, 0.13);
}
.btn-primary.btn-outline {
  color: #09c;
  background-color: transparent;
  border-color: #09c;
}
.btn-success {
  color: #FFF;
  background-color: #2ecc71;
  border-color: rgba(0, 0, 0, 0.13);
}
.btn-success.btn-outline {
  color: #2ecc71;
  background-color: transparent;
  border-color: #2ecc71;
}
.btn-info {
  color: #FFF;
  background-color: #4cc3d9;
  border-color: rgba(0, 0, 0, 0.13);
}
.btn-info.btn-outline {
  color: #4cc3d9;
  background-color: transparent;
  border-color: #4cc3d9;
}
.btn-warning {
  color: #FFF;
  background-color: #ffbd43;
  border-color: rgba(0, 0, 0, 0.13);
}
.btn-warning.btn-outline {
  color: #ffbd43;
  background-color: transparent;
  border-color: #ffbd43;
}
.btn-danger {
  color: #FFF;
  background-color: #d45242;
  border-color: rgba(0, 0, 0, 0.13);
}
.btn-danger.btn-outline {
  color: #d45242;
  background-color: transparent;
  border-color: #d45242;
}
.btn:disabled {
  color: #ccc;
  background-color: #FFF;
  border-color: rgba(0, 0, 0, 0.13);
}
.btn:hover:not(:disabled) {
  opacity: 0.8;
}
.btn-sm {
  font-size: 12px;
}
.btn-md {
  font-size: 14px;
  padding: 5px 7px;
}
.btn-lg {
  font-size: 16px;
  padding: 7px 9px;
}
form {
  border: 1px solid #ccc;
  padding: 5px;
}
form input {
  border: 1px solid #ccc;
  background-color: #FFF;
  padding: 5px;
  width: 100%;
  outline: 0;
  box-shadow: none;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}
form input:not(:last-child) {
  margin-bottom: 5px;
}
form input:focus {
  border: 1px solid #09c;
  box-shadow: 0 0 5px #ccc;
}
form input:disabled {
  background-color: #eee;
  color: #eee;
  cursor: not-allowed;
}
form textarea {
  width: 100%;
  resize: vertical;
  border: 1px solid #ccc;
  padding: 5px;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}
form textarea:focus {
  border: 1px solid #09c;
  box-shadow: 0 0 5px #ccc;
}
form textarea:not(:last-child) {
  margin-bottom: 5px;
}
form .has-success {
  border-color: #2ecc71;
}
form .has-success:focus {
  border: 1px solid #2ecc71;
}
form .has-warning {
  border-color: #ffbd43;
}
form .has-warning:focus {
  border-color: #ffbd43;
}
form .has-error {
  border-color: #d45242;
}
form .has-error:focus {
  border-color: #d45242;
}
.grid-row {
  display: flex;
}
.grid-cell {
  flex: 1;
}
section {
  margin-bottom: 5px;
}
